<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>Contact</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li> 
                <li><a href="/contact">Contact</a></li>
                <li><a href="/help">Help</a></li>
                <% if (locals.auth) { %> <li><a href="/admin">Admin Panel</a></li> <% } %>
                <% if (!locals.loggedIn) { %> <li><a href="/login">Login</a></li><% } %>
                <% if (locals.loggedIn) { %> <li><a href="/logout" onclick=" return confirm('Are you sure you want to logout?');">Logout</a></li> <% } %>
            </ul>
        </nav>
        <div class="main">
            <h1>Contact.</h1>
            <div class="form">
                <p>
                    <h5 style="margin-top: -6em;">
                        <a href="mailto:admin@webmaster.com">Email Us: admin@webmaster.com</a><br><br>
                        <a href="tel:+353853387244">Call Us: +353 85 3387244</a>
                    </h5>
                </p><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
        <footer>
            <hr id="footerHR">
            <p id="footerText">Matthew Byrne, SD2-A, R00173315.<br>Contact: <a href="mailto:name@email.com">matthew.byrne@mycit.ie</a></p>
        </footer>
    </body>
</html>